{% extends "core/account_base.html" %}

{% block title %}
    Account Activation Success
{% endblock title %}

{% block content %}

        <div class="container">

        <div class="card shadow-sm">

                <h4 class="card-header">Activation Successful</h4>

                <div class="card-body">
                        <div class="alert alert-success font-weight-bold text-dark text-center">
                            Your Account has been successfully Activated.
                        </div>
                    <hr />
                </div>
            </div>
    </div>
{% endblock content %}